* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: rgba(239, 54, 91, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

main {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(241, 63, 63);
  font-size: 7rem;
  text-decoration: underline;
}

h2 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.842);
  font-family: "DM Serif Text", serif;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 50px;
}

p {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.774);
  margin-bottom: 10px;
  font-weight: 400;
  font-style: normal;
  max-width: 60%;
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
}

span{
  font-weight: bold;
}

section{
  max-width: 700px;
  background-color: wheat;
  padding: 10px;
  border: 5px dashed black;
}

.top-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinText{
  color: black;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  text-decoration: underline;
}

.waitlistText{
  font-size: 1rem;
  margin-bottom: 10px;
}

.input_el{
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
}

.submit_btn{
  background-color: rgb(241, 63, 63);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.numberOfEmails{
  font-size: 2rem;
}

@media(max-width: 300px){
  p{
    max-width: 100%;
  }
}